@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@using Lab5_Elijah_Mckeehan

<App>
    <Router AppAssembly="typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" />
            <FocusOnNavigate RouteData="@routeData" />
        </Found>
        <NotFound>
            <p>Sorry, there is nothing at this address.</p>
        </NotFound>
    </Router>
</App>
