@using Lab5_Elijah_Mckeehan.Components
@using Lab5_Elijah_Mckeehan.Shared
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <!-- RouteView component will handle rendering the matched route -->
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <p>Sorry, the page you're looking for could not be found.</p>
    </NotFound>
</Router>

@code {
    private RouteData routeData;
}
